.sm-container {
  width: 100%;
  display: flex;
  border: 1px solid #a5a5a5;;
  margin: 2rem 0 2rem 0;
  min-height: 650px;
}

.sm-container .sm-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.sm-notif-circle {
  padding-left: 7px;
  background: red;
  color: white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
}

.sm-container #sm-load-more {
  margin-top: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.sm-container .btn-new-discussion {
  text-decoration: none;
  padding: 0.25rem;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
}

.sm-container .sm-sidebar-container {
  width: 35%;
  background: #e6e6e6;
}

.sm-container .sm-discussion-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sm-container .sm-discussion-container.empty {
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.sm-container .sm-discussion-container .sm-messages {
  padding: 1rem;
}

.sm-container.new_discussion_message .sm-messages {
  display: none;
}

.sm-container .sm-discussion-container .sm-message-form {
  padding: 1rem;
}

.sm-container .sm-discussion-container .sm-message-form form .form-actions {
  display: flex;
  justify-content: end;
}

.sm-container .discussion_link-wrapper {
  display: flex;
}

.sm-container .sm-sidebar-header {
  padding: 0.5rem;
}

.sm-container .sm-sidebar-header .search-thread {
  width: 100%;
}

.sm-container .sm-sidebar-container .thread-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #afaeae;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: black;
}

.sm-container .sm-sidebar-container .sm-threads > a {
  text-decoration: none;
}

.sm-container .sm-sidebar-container .thread-container.active {
  background: #d3d3d3;
  font-weight: bolder;
}

.sm-container .sm-sidebar-container .thread-container .thread-user-picture {
  width: 20%;
  margin-right: 0.5rem;
}

.sm-container .sm-sidebar-container .thread-container .thread-user-picture img {
  border-radius: 50%;
}

.sm-container .sm-sidebar-container .thread-container .thread-user-picture > * {
  width: 100%;
}

.sm-container .sm-sidebar-container .thread-container .thread-others {
  width: 75%;
}

.sm-container .sm-sidebar-container .thread-container .thread-others .thread-date {
  font-size: smaller;
}

.sm-container .sm-sidebar-container .thread-container .thread-others .thread-other-top {
  display: flex;
  justify-content: space-between;
}

.sm-container .sm-sidebar-container .thread-container .thread-others .thread-other-top {
  display: flex;
}

.sm-container .sm-sidebar-container .thread-container .thread-actions {
  width: 5%;
}

.simple-message-container {
  display: flex;
  margin-bottom: 1rem;
}

.simple-message-container.my-msg {
  justify-content: flex-end;
}

.simple-message-container blockquote {
  padding: 0 0.5rem 1rem 1rem;
  width: 70%;
  margin: 0;
}

.simple-message-container blockquote .close {
  text-decoration: none;
  color: black;


}

.simple-message-container blockquote .close-wrapper {
  text-align: end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 15px;
}

.simple-message-container.my-msg blockquote {
  background: #8eec8e;
}

.simple-message-container.your-msg blockquote {
  background: #b6b6b6;
}

.simple-message-container blockquote footer {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.simple-message-container blockquote footer .msg-status {
  margin-left: 0.5rem;
}

.view-simple-message-messages-inbox .view-content {
  display: flex;
  flex-direction: column-reverse;
}

