{% if icon == 'profile' %}
  <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="12" cy="9" r="3" stroke="#1C274C" stroke-width="1.5"/>
    <path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="#1C274C"
          stroke-width="1.5" stroke-linecap="round"/>
    <path
      d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"
      stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
  </svg>
{% endif %}
{% if icon == 'close' %}
  <?xml version="1.0" encoding="utf-8"?>

  <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="Menu / Close_SM">
      <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#000000" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
{% endif %}
{% if icon == 'plus' %}
  <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9 11H15M12 8V14M21 20L17.6757 18.3378C17.4237 18.2118 17.2977 18.1488 17.1656 18.1044C17.0484 18.065 16.9277 18.0365 16.8052 18.0193C16.6672 18 16.5263 18 16.2446 18H6.2C5.07989 18 4.51984 18 4.09202 17.782C3.71569 17.5903 3.40973 17.2843 3.21799 16.908C3 16.4802 3 15.9201 3 14.8V7.2C3 6.07989 3 5.51984 3.21799 5.09202C3.40973 4.71569 3.71569 4.40973 4.09202 4.21799C4.51984 4 5.0799 4 6.2 4H17.8C18.9201 4 19.4802 4 19.908 4.21799C20.2843 4.40973 20.5903 4.71569 20.782 5.09202C21 5.51984 21 6.0799 21 7.2V20Z"
      stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}
{% if icon == 'check' %}
  <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 12L9.89075 14.8907V14.8907C9.95114 14.951 10.049 14.9511 10.1094 14.8907V14.8907L17 8" stroke="#323232"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}
{% if icon == 'dbcheck' %}
  <?xml version="1.0" encoding="utf-8"?>

  <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

    <g id="SVGRepo_bgCarrier" stroke-width="0"/>

    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

    <g id="SVGRepo_iconCarrier">
      <path d="M2 12L7.25 17C7.25 17 8.66939 15.3778 9.875 14" stroke="#323232" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"/>
      <path d="M8 12L13.25 17L22 7" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 7L12.5 11" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>

  </svg>
{% endif %}
{% if icon == 'dbcheck_blue' %}
  <?xml version="1.0" encoding="utf-8"?>

  <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

    <g id="SVGRepo_bgCarrier" stroke-width="0"/>

    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

    <g id="SVGRepo_iconCarrier">
      <path d="M2 12L7.25 17C7.25 17 8.66939 15.3778 9.875 14" stroke="#3245a4" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"/>
      <path d="M8 12L13.25 17L22 7" stroke="#3245a4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 7L12.5 11" stroke="#3245a4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>

  </svg>
{% endif %}
