<a href="{{ path('simple_message.user.messages', {'thread_lead_user': thread.user.id()}) }}"
   class="thread-container {{ (thread.user.id() == current_thread_lead.id())? 'active' : '' }}">

  <div class="thread-user-picture">
    {% if  thread.user.user_picture.entity.fileuri %}
      {% set imagestyle = {
        '#theme':      'image_style',
        '#style_name': 'large',
        '#uri':        thread.user.user_picture.entity.fileuri,
        '#attributes': {"class": 'large'}
      } %}
      {{ imagestyle }}
    {% else %}
      {% include '@simple_message/templates/simple-message-icons.html.twig' with {'icon': 'profile'} %}
    {% endif %}

  </div>
  <div class="thread-others">
    <div class="thread-other-top">
      <div class="thread-user-name">{{ thread.user.label }}</div>
      <div class="thread-date">{{ thread.message.getFormattedCreatedDate() }}</div>
    </div>
    <div class="thread-last-msg">
      {{ thread.message.message.value[:15] ~ '...' }}
    </div>
  </div>
  <div class="thread-actions">

  </div>

</a>

