{#
/**
 * @file
 * Default theme implementation for message entities.
 *
 * Available variables:
 * - $content: An array of comment items. Use render($content) to print them all, or
 *   print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $title: The (sanitized) entity label.
 * - $url: Direct url of the current entity if specified.
 * - $page: Flag for the full page state.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity-{ENTITY_TYPE}
 *   - {ENTITY_TYPE}-{BUNDLE}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_message()
 * @see template_process()
 */
#}


  {% set msgClass =  (current_user.id == content.sender_id) ? 'my-msg' : 'your-msg' %}
<div class="simple-message-container {{ msgClass }}">
  <blockquote>

    <p class="close-wrapper">
      {% if current_user.id == content.sender_id
        and  (status != 'removed_once' and status != 'removed_twice' ) %}
        <a href="{{ path('simple_message.message.remove', {'message': content.message_id}) }}"
           class="close simple-message-remove sm-icon">
          {% include '@simple_message/templates/simple-message-icons.html.twig' with {'icon': 'close'} %}
        </a>
      {% endif %}
    </p>

    {% if status == 'rm1' or status == 'rm2' or status == 'hdn' %}
      <div class="small">
        {{ 'Message removed' | t }}
      </div>
    {% else %}
      <div class="message-core">
        {{ content.message }}
      </div>

    {% endif %}
    <footer>
      <small>{{ content.created }}</small>
      {% if current_user.id == content.sender_id %}
        <div class="msg-status sm-icon">
          {% if status == 'snt' %}
            {% include '@simple_message/templates/simple-message-icons.html.twig' with {'icon': 'check'} %}
          {% endif %}
          {% if status == 'rcv' %}
            {% include '@simple_message/templates/simple-message-icons.html.twig' with {'icon': 'dbcheck'} %}
          {% endif %}
          {% if status == 'rd' %}
            {% include '@simple_message/templates/simple-message-icons.html.twig' with {'icon': 'dbcheck_blue'} %}
          {% endif %}
        </div>
      {% endif %}
    </footer>
  </blockquote>
</div>


