<div class="sm-container {{ form_mode }}">
  <div class="sm-sidebar-container">
    <div class="sm-sidebar-header">
      {{ new_discussion_link }}
      <input type="search" class="search-thread" placeholder="{{ 'Search' |t }}">
    </div>
    <div class="sm-threads">
      {% for thread in threads %}
        {% include '@simple_message/templates/simple-message-thread.html.twig' with {'thread': thread} %}
      {% endfor %}
    </div>
    <div id="sm-load-more" href="#">
      {{ 'load more' }}
    </div>
  </div>
  <div class="sm-discussion-container {{ messages ? '' : 'empty' }}">
    <div class="sm-messages">
      {% if messages %}
        {{ messages }}
      {% else %}
        {{ 'Please select a thread or start new discussion' |t }}
      {% endif %}
    </div>
    {% if form %}
      <div class="sm-message-form">
        {{ form }}
      </div>
    {% endif %}
  </div>
</div>
